:root {
  /* Example setup for custom colors */
  /* Generate at: https://once-ui.com/customize */
  --scheme-brand-100: #1e005f;
  --scheme-brand-200: #1e005f;
  --scheme-brand-300: #1700d6;
  --scheme-brand-400: #0039ff;
  --scheme-brand-500: #1f6cff;
  --scheme-brand-600: #4398ff;
  --scheme-brand-600-15: rgba(67, 152, 255, 0.15);
  --scheme-brand-600-30: rgba(67, 152, 255, 0.3);
  --scheme-brand-600-50: rgba(67, 152, 255, 0.5);
  --scheme-brand-700: #62bcff;
  --scheme-brand-800: #81e0ff;
  --scheme-brand-900: #8eefff;
  --scheme-brand-1000: #8eefff;
  --scheme-brand-1100: #8eefff;
  --scheme-brand-1200: #8eefff;

  --scheme-exparang-400: #a85242;
  --scheme-exparang-500: #ba5f51;
  --scheme-exparang-600-15: rgba(204, 117, 102, 0.15);
  --scheme-exparang-600-30: rgba(204, 117, 102, 0.3);
  --scheme-exparang-700: #d9957f;
  --scheme-exparang-900: #f0d4c8;

  --scheme-float-400: #7700d9;
  --scheme-float-500: #8200db;
  --scheme-float-600-15: rgba(153, 51, 255, 0.15);
  --scheme-float-600-30: rgba(153, 51, 255, 0.3);
  --scheme-float-700: #b366ff;
  --scheme-float-900: #e6ccff;


}

[data-theme=dark] {
  .float-badge {
    color: var(--scheme-float-700);
    /* brand-on-background-weak = 700 */
    background-color: var(--scheme-float-600-15);
    /* brand-alpha-weak = 600-15 */
    border-color: var(--scheme-float-600-30);
    /* brand-alpha-weak = 600-30 */

    >.brand-on-background-medium {
      color: var(--scheme-float-900);
      /* brand-on-background-medium = 900 */
    }
  }

  .exparang-badge {
    color: var(--scheme-exparang-700);
    /* brand-on-background-weak = 700 */
    background-color: var(--scheme-exparang-600-15);
    /* brand-alpha-weak = 600-15 */
    border-color: var(--scheme-exparang-600-30);
    /* brand-alpha-weak = 600-30 */

    >.brand-on-background-medium {
      color: var(--scheme-exparang-900);
      /* brand-on-background-medium = 900 */
    }
  }
}

[data-theme=light] {
  .float-badge {
    color: var(--scheme-float-500);
    /* brand-on-background-weak = 500 */
    background-color: var(--scheme-float-600-15);
    /* brand-alpha-weak = 600-15 */
    border-color: var(--scheme-float-600-30);
    /* brand-alpha-medium = 600-30 */

    >.brand-on-background-medium {
      color: var(--scheme-float-400);
      /* brand-on-background-medium = 400 */
    }
  }
  .exparang-badge {
    color: var(--scheme-exparang-500);
    /* brand-on-background-weak = 500 */
    background-color: var(--scheme-exparang-600-15);
    /* brand-alpha-weak = 600-15 */
    border-color: var(--scheme-exparang-600-30);
    /* brand-alpha-medium = 600-30 */

    >.brand-on-background-medium {
      color: var(--scheme-exparang-400);
      /* brand-on-background-medium = 400 */
    }
  }
}