:root {
  /*
  /* Override default variables here */
  /*
  --font-size-display-multiplier:   1;
  --font-size-heading-multiplier:   1;
  --font-size-body-multiplier:      1;
  --font-size-label-multiplier:     1;

  --line-height-display-multiplier: 1;
  --line-height-heading-multiplier: 1;
  --line-height-body-multiplier:    1;
  --line-height-label-multiplier:   1;

  --default-border:        var(--neutral-border-medium);

  /* Example setup for custom colors */
  /* Generate at: https://once-ui.com/customize */
  --scheme-brand-100: #08002f;
  --scheme-brand-200: #04025c;
  --scheme-brand-300: #1f398e;
  --scheme-brand-400: #3856ae;
  --scheme-brand-500: #5071cc;
  --scheme-brand-600: #6f94f1;
  --scheme-brand-600-10: rgba(111, 148, 241, 0.1);
  --scheme-brand-600-30: rgba(111, 148, 241, 0.3);
  --scheme-brand-600-50: rgba(111, 148, 241, 0.5);
  --scheme-brand-700: #8db3ff;
  --scheme-brand-800: #b2dbff;
  --scheme-brand-900: #bfe8ff;
  --scheme-brand-1000: #ccf6ff;
  --scheme-brand-1100: #d2fcff;
  --scheme-brand-1200: #d2fcff;

  --scheme-exparang-400: #a85242;
  --scheme-exparang-500: #ba5f51;
  --scheme-exparang-600-15: rgba(204, 117, 102, 0.15);
  --scheme-exparang-600-30: rgba(204, 117, 102, 0.3);
  --scheme-exparang-700: #d9957f;
  --scheme-exparang-900: #f0d4c8;

  --scheme-float-400: #7700d9;
  --scheme-float-500: #8200db;
  --scheme-float-600-15: rgba(153, 51, 255, 0.15);
  --scheme-float-600-30: rgba(153, 51, 255, 0.3);
  --scheme-float-700: #b366ff;
  --scheme-float-900: #e6ccff;

  --scheme-mcm-400: #1a1a1a;
  --scheme-mcm-500: #333333;
  --scheme-mcm-600-15: rgba(51, 51, 51, 0.15);
  --scheme-mcm-600-30: rgba(51, 51, 51, 0.3);
  --scheme-mcm-700: #4d4d4d;
  --scheme-mcm-900: #e6e6e6;

  --scheme-youse-400: #374d48;
  --scheme-youse-500: #4e6b65;
  --scheme-youse-600-10: rgba(75, 205, 175, 0.1);
  --scheme-youse-600-30: rgba(102, 138, 131, 0.3);
  --scheme-youse-700: #85b0a7;
  --scheme-youse-900: #c2e8de;
}

.float-badge,
.exparang-badge,
.mcm-badge,
.youse-badge {
  color: var(--badge-color);
  background-color: var(--badge-bg-color);
  border-color: var(--badge-border-color);

  >.brand-on-background-medium {
    color: var(--badge-medium-color);
  }
}

.float-badge {
  --badge-bg-color: var(--scheme-float-600-15);
  --badge-border-color: var(--scheme-float-600-30);
}

.exparang-badge {
  --badge-bg-color: var(--scheme-exparang-600-15);
  --badge-border-color: var(--scheme-exparang-600-30);
}

.mcm-badge {
  --badge-bg-color: var(--scheme-mcm-600-15);
  --badge-border-color: var(--scheme-mcm-600-30);
}

.youse-badge {
  --badge-bg-color: var(--scheme-youse-600-10);
  --badge-border-color: var(--scheme-youse-600-30);
}

[data-theme=dark] {
  .float-badge {
    --badge-color: var(--scheme-float-700);
    --badge-medium-color: var(--scheme-float-900);
  }

  .exparang-badge {
    --badge-color: var(--scheme-exparang-700);
    --badge-medium-color: var(--scheme-exparang-900);
  }

  .mcm-badge {
    --badge-color: var(--scheme-mcm-900);
    --badge-medium-color: var(--scheme-mcm-900);
  }

  .youse-badge {
    --badge-color: var(--scheme-youse-700);
    --badge-medium-color: var(--scheme-youse-900);
  }
}

[data-theme=light] {
  .float-badge {
    --badge-color: var(--scheme-float-500);
    --badge-medium-color: var(--scheme-float-400);
  }

  .exparang-badge {
    --badge-color: var(--scheme-exparang-500);
    --badge-medium-color: var(--scheme-exparang-400);
  }

  .mcm-badge {
    --badge-color: var(--scheme-mcm-500);
    --badge-medium-color: var(--scheme-mcm-400);
  }

  .youse-badge {
    --badge-color: var(--scheme-youse-400);
    --badge-medium-color: var(--scheme-youse-400);
  }
}

/* Fixes the carousel's border radius not applying on the transition effect */
.carousel-fix > div:nth-child(2) {
  border-radius: var(--radius-l);
}
