@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        font-weight: 600;
        transform: translateX(var(--static-space-2));
    }
}

@media (max-width: breakpoints.$s) {
    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}

// Temp fix after core 1.6.1 changes
.avatar {
    top: var(--static-space-64);
}
@media (max-width: breakpoints.$s) {
    .avatar {
        top: auto;
    }
}