ul.custom {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.custom li {
  position: relative;
  padding-left: 1.2rem;
}

ul.custom li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2rem;
  width: .8rem;
  height: .8rem;
  background: url('/images/bullet-check.svg') no-repeat center / contain;
}